*
!.gitignore

# files that get checked in
!LICENSE.md
!README.md
!autoexec.cfg
!comp.cfg
!config.cfg
!demoman.cfg
!desktop-autoexec.cfg
!engineer.cfg
!heavyweapons.cfg
!loadouts.cfg
!macconfig.cfg
!main.cfg
!medic.cfg
!mvm.cfg
!osx-mbp-autoexec.cfg
!practice.cfg
!pub.cfg
!pyro.cfg
!reset.cfg
!rhapsody.cfg
!scout.cfg
!sniper.cfg
!soldier.cfg
!spy.cfg
!win-mbp-autoexec.cfg
!winconfig.cfg
!winconfig2.cfg
